<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - paulnak</title>
        {% else %}
        <title>paulnak</title>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/css/all.css">
        <!--
        <link rel="preload" href="static/css/all.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="static/css/all.css"></noscript>
        -->
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>