<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - paulnak</title>
        {% else %}
        <title>paulnak</title>
        {% endif %}
        <link rel="preload" href="static/css/non-critical.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet href="static/css/non-critical.css"></noscript>
        <style>
            a{text-decoration:none;color:white;padding:20px;}a:hover{background-color:white;color:black;}body{background-color:#00e3c1;font-family:Arial, Helvetica, sans-serif;font-size:1rem;}ul{list-style-type:none;}
            .navbar{display:flex;max-width:1200px;margin:auto;background-color:black;color:white;justify-content:center;border-radius:10px;}.navbar-list{margin-top:0;margin-bottom:0;display:flex;flex-wrap:wrap;width:100%;max-width:720px;justify-content:space-around;}.nav-item{display:flex;background-color:black;justify-content:center;}
            .card{position:relative;display:flex;margin:auto;top:30px;background-color:white;border-radius:25px;max-width:300px;justify-content:center;}
        </style>
    </head>
    <body>
        <div class="navbar">
            <ul class="navbar-list">
                <li class="nav-item">
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('blogs') }}">Blogs</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('potw') }}">POTW</a>
                </li>
                <li class="nav-item">
                    <a href="static/files/paul_nakonieczny.pdf" target="_blank">Resume</a>
                </li>
            </ul>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>