{% extends "base.html" %}

{% block content %}
<div class="bio">
    <div class="bio-img">
        <img class="bio-img" src="static/img/bio-image.jpg">
    </div>
    <div class="bio-content">
        <h1>
            Hi, I'm Paul!
        </h1>
        <p>
            My name is Paul Nakoniezcny and I'm a computer programmer!
        </p>
        <h1>
            Mission:
        </h1>
        <p>
            I currently work in the cybersecurity and study artificial intelligence!
        </p>
    </div>
</div>
{% endblock %}